body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/png/pokeball-pattern.png');
    background-repeat: space;
    background-size: 133px;
    background-color: #555;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-size: 20px;       
    zoom: 1.95;  
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    zoom: 0.7;
}

body.loading {
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 100%;
    max-width: 1440px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

h1 {
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container input[type="search"] {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #f44336;
    outline: none;
    width: 200px;
    transition: 0.3s;
    background-color: #fff;
    color: black;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-container input[type="search"]:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to bottom, #f44336, #d32f2f);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

.search-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.search-container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    gap: 16px;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.pokemon-card {
    position: relative;
    width: 138px;
    height: 142px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.25s ease;
    border: 6px solid #d4af37;
    background-size: cover;
    background-position: center;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    left: 7px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1px;
}

.card-header h3 {
    position: absolute;
    left: 29px;
    top: 4px;
    margin: 0;
    font-size: 10px;
    color: black;
    text-transform: capitalize;
}

.card-image img {
    left: 32px;
    position: absolute;
    width: 60%;
    top: 15px;
    image-rendering: pixelated;
}

.card-abilities {
    width: 100%;
    font-size: 8px;
}

.card-stats {
    width: 100%;
    font-size: 8px;
    display: flex;
    justify-content: space-evenly;
}

.type {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.card-image {
    width: 83%;
    height: 53%;
    background-color: white;
    display: flex;
    margin-top: -31px;

}

.card-hp {
    position: absolute;
    left: 96px;
    top: 1px;
    font-size: 6px;
}

#pokedex-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.modal-content {
    position: relative;
    width: 225px;
    height: 540px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    align-items: center;
}

.modal-frame {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-pokemon {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    height: 194px;
    width: 183px;
    text-align: center;
    z-index: -1;
}

.modal-pokemon img {
    width: 150px;
}

.modal-pokemon h2 {
    font-family: "Silkscreen", sans-serif;
    font-size: 10px;
    margin: 10px 0 0;
    color: black;
    text-transform: capitalize;
}

.dpad {
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.dpad.left {
    margin-left: 13px;
    color: transparent;
    z-index: 10000;
}

.dpad.right {
    margin-left: 6px;
    color: transparent;
    z-index: 10000;
}

.button-nav {
    position: absolute;
    left: -1px;
    width: 7px;
    height: 9px;
    display: flex;
    margin-top: 247px;
}

.close-button {
    position: absolute;
    top: 376px;
    left: 175px;
    z-index: 10000;
}

.close {
    position: absolute;
    background: rgba(255, 0, 0, 0);
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
}

.states {
    position: relative;
    bottom: -130px;
    left: -153px;
    z-index: 10000;
    display: flex;
    font-size: 7px;
    line-height: 1;
    width: auto;
    gap: 6px;
}

#loadMore {
  position: relative;
  z-index: 1;
  border-radius: 25px;
    border: 2px solid;
    background: linear-gradient(to bottom, #f44336, #d32f2f);
    color: white;
    font-weight: bold;
    padding: 10px 80px;
}

#loadMore:hover {
     transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 320px) {
    .header-content {
        padding: 12px 8px;
    }

    .search-container {
        width: 100%;
        flex-direction: column;
    }

    .search-container input,
    .search-container button {
        width: 25%;
        max-width: 100%;
    }

    img {
        height: 50px;
        width: 50px;
    }

    #loader video {
        width: 140vw;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 465px) {
    img {
        height: 91px;
        width: 204px;
    }

    #loader video {
        width: 120vw;
        height: auto;
        min-height: 320px;
        object-fit: contain;
    }
}